/* PageContainer.css */
:root {
    --main-bg-color: #f4f4f4;
    --main-text-color: #000000;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
    --button-hover-bg-color: #0056b3;
    --button-hover-text-color: #ffffff;
    --card-bg-color: #ffffff;
    --input-bg-color: #ffffff;
    --input-text-color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.home-screen {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.header {
    grid-column: 1 / span 2;
}

.header-image {
    width: 100%;
    height: 150PX;
    object-fit: cover;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    grid-row: 2 / span 1;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
}

.sidebar button:hover {
    background-color: var(--button-hover-bg-color);
}

.main-content {
    padding: 20px;
    overflow-y: auto;
    grid-row: 2 / span 1;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.resena-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3500px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.product-card .product-info {
    margin-top: 10px;
}

.product-card p {
    margin: 10px 0;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.quantity-control button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-control span {
    margin: 0 10px;
    font-size: 16px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
}

.product-info p {
    margin: 8px 0;
}

.product-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0056b3;
}



